<a href="https://colab.research.google.com/github/kimgayeon20070820/highschool/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_02_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%91%9C%ED%98%84_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

### 수학 연산하기

In [4]:

print('나누기: ',10 / 3)
print('몫', 10 // 3)
print('나머지: ', 10 % 3)
print('거듭제곱: ',10**3)

나누기:  3.3333333333333335
몫 3
나머지:  1
거듭제곱:  1000

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [11]:
print('문제: ', 10 + 3 * 3)
iphone_price = 1300000
iphone_ent = 15
print('문제2: ', iphone_ent * iphone_price)
X = 13
if x%2==0: print('어떤 수 x는 짝수!')
eles: print('어떤 수 x는 홀수!')
print('문제3: ', )

print('문제4: ', 2**3 * 5*84 * 3**4)

SyntaxError: ignored

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- 첫 글자는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능)
- 영문자, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

In [9]:
a = 100
b = 1000 + 300
c = a + 300
d = 'a' , '300'
e = 'a' + '300'
print(a)
print(b)
print(c)
print(d)

100
1300
400
('a', '300')

### 파이썬 자료형

In [19]:
name1 = '김가연'
name2 = '유노을'
name3 = '김성현'
a = f"This is {name1}'s note"
b = f"This is {name2}'s note"
c = f"this is {name3}'s note"
print(a)
print(b)
print(c)

This is 김가연's note
This is 유노을's note
this is 김성현's note

In [12]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print( type(200) )
print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

<class 'int'>
데이터 123의 자료형: <class 'int'>
데이터 123의 자료형: <class 'str'>
데이터 [123]의 자료형: <class 'list'>
데이터 (123,)의 자료형: <class 'tuple'>
데이터 {'key': 123}의 자료형: <class 'dict'>
데이터 {123}의 자료형: <class 'set'>
데이터 True의 자료형: <class 'bool'>

In [22]:
a = 100
b = 50

print("%d + %d = %d" % (a, b, (a+b))))
print(f"(a) + (b) = (a+b)")

SyntaxError: ignored

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( **input()** )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( **print()** )를 표준 출력함수라 한다.

In [29]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
a = input('키보드 입력: ')
print(f'입력: {a}, {type(a)} ')

# 표준 출력
print(f'입력: {a}, {type()}')

키보드 입력: 500
입력: 500, <class 'str'>

#### 문자열 데이터를 숫자(정수)로 변환하기

In [30]:
# 문자열 데이터를 숫자(정수)로 변환하기
a = input('숫자입력: ')
b = int(a)     # a 변수의 값을 정수로 변환한다.
print(f'{a} {type(a)}, {type(b)}')

숫자입력: 500
500 <class 'str'>, <class 'int'>

In [37]:
# a = input('숫자입력: ')
# b = int(a)
a = float( input('숫자입력: ') )
b = float( input('숫자입력: ') )    # 정수로변환(int()), 실수로변환(float())
print(a + b)

숫자입력: 200
숫자입력: 100
300.0

#### 다양한 변수 출력 방법

In [ ]:
a = input('키보드로 숫자를 입력해 주세요 ')

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [7]:
num1 = float( input('첫 번째 숫자 입력: ') )  #첫 번째 숫자를 키보드로 입력
num2 = float( input('두 번때 숫자 입력: ') )  #두 번째 숫자를 키보드로 입력받기

print('-' * 30) # - 문자를 30번 반복해라.
print(f'덧셈: {num1} + {num2} = {num1+num2}')
print(f'뻴셈: {num1} - {num2} = {num1-num2}')
print(f'곱셈: {num1} * {num2} = {num1*num2}')
print(f'몫: {num1} //{num2} = (num1//num2)')
print(f'나머지: {num1} % {num2} = {num1%num2}')
#아래: 또 다른 코드, 슬랙에 업로드되어있다.
# print('덧셈: %d +  %d = %d' % (num1, num2, num1+num2))
# print('뺄셈: %d -  %d = %d' % (num1, num2, num1-num2))
# print('곱셈: %d *  %d = %d' % (num1, num2, num1*num2))
# print('몫:   %d // %d = %d' % (num1, num2, num1//num2))
# print('나머지:%d %% %d = %d' % (num1, num2, num1%num2))

첫 번째 숫자 입력: 25
두 번때 숫자 입력: 99
------------------------------
덧셈: 25.0 + 99.0 = 124.0
뻴셈: 25.0 - 99.0 = -74.0
곱셈: 25.0 * 99.0 = 2475.0
몫: 25.0 //99.0 = (num1//num2)
나머지: 25.0 % 99.0 = 25.0

- f'string' 함수를 이용해 출력하기

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [18]:
velocity = int(input('속력를 입력해 주세요(km/h) : '))
distance = int(input('거리를 입력해 주세요(km) : '))

velocity = float(velocity)
distance = float(distance)

print('-' * 30)
print(f'속력 : {velocity} km/h')
print(f'속력 : {distance} km')
print(f'시간 : {distance/velocity} h')

속력를 입력해 주세요(km/h) : 435
거리를 입력해 주세요(km) : 65
------------------------------
속력 : 435.0 km/h
속력 : 65.0 km
시간 : 0.14942528735632185 h

- eval()함수 사용하여 문자열을 계산할 수 있다

In [ ]:
# eval()함수 사용

### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [24]:
import math

print(f'원주율: {math.pi}')
print(f'절대값: {abs(-10) }')
print(f'반올림: {round(1.7912, 2) }')
print(f'올림  : {math.ceil(1.7) }')
print(f'내림  : { math.floor(1.7)}')
print(f'제곱  : {math.pow(2, 3) }')
print(f'제곱근: {math.sqrt(4)}')
print(f'로그  : {math.log(10) }')

원주율: 3.141592653589793
절대값: 10
반올림: 1.79
올림  : 2
내림  : 1
제곱  : 8.0
제곱근: 2.0
로그  : 2.302585092994046

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [30]:
#문제1: 반지름이 4인 원의 넓이 출력
import math
pi = math.pi
#문제1: 반지름이 4인 원의 넓이 출력
r = 3       # 반지름
pi = 3.14
print(f'문제1: {pi * r**2}')

#문제2: 3.14 곱하기 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(f'문제2: {round(pi * 2 / 7)}' )

#문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
print(f'문제3: {2 * pi * r}' )

문제1: 28.26
문제2: 1
문제3: 18.84

---------------------------

## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [ ]:
# 문자 --> 숫자(정수) 로 변환 : ord() 함수 사용
print( ord('A') )
print( ord('!') )
print( ord('가') )

In [ ]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

In [ ]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환, end = ' ')  # 한 줄로 표현하기

In [ ]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다.
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [ ]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' "Yes, I can!" ')

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [ ]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

In [ ]:
a = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(a)

### [실습] 주문받아 출력하기

In [36]:
# 주문받아 출력하기

menu = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(menu)
print('-'*30)
coffee = input('주문하신 음료를 선택하세요.(ex: 아메리카노): ')
cup = input(f'{coffee} 몆 잔을 주문하시겠습니까?: ')

print(f'주문하신 음료{coffee} {cup} 잔이 준비되었습니다.')

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원
------------------------------
주문하신 음료를 선택하세요.(ex: 아메리카노): 카페라테
카페라테 몆 잔을 주문하시겠습니까?: 1
주문하신 음료카페라테 1 잔이 준비되었습니다.

### 문자열 연산
- (+): 문자열 연결하기

- (*) : 반복의 의미

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

In [33]:
print("Mary's cosmetics")
print(f'박씨가 소리질렀다. "도둑이야!"')
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.") #/n: 엔터 키, /t: 탭키랑 비슷한거?

Mary's cosmetics
박씨가 소리질렀다. "도둑이야!"
안녕하세요.
오늘	날씨가		좋습니다.

-------------------

## 2-3.문자열 인덱싱과 슬라이싱

In [ ]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print( )

In [ ]:
fruits = 'orange'
print( )

---------------------------

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [48]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁 = (음식가격 + 세금) * 0.15

print(f'음식가격: {meal}')
meal = meal + (meal*tax)   # 4.meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
print(f'세금 포함 음식가격: {meal}   세금: {meal*tax}')
total = meal + (meal*tip)   # 5.음식값에 tip을 더해 total 변수에 지정하세요
print(f'팁 포함 음식가격: {total}     팁: {meal*tip}')
print(f'내가 지불해야할 총 금액: {total}')

음식가격: 4450
세금 포함 음식가격: 4750.375   세금: 320.65031250000004
팁 포함 음식가격: 5462.93125     팁: 712.55625
내가 지불해야할 총 금액: 5462.93125

In [45]:
price = 4000
price = x + x*10

NameError: ignored

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [58]:
# c_temp = input()   #키보드로부터 입력을 받는 함수: input()
# c_temp = int(c_temp)  # 정수로 변환: int()
# print(c_temp, type(c_temp) )

print('#섭씨온도를 화씨온도로 변환하는 프로그램입니다.')
c_temp = float(input('섭씨온도를 입력하세요: ') ) # 정수로 변환: int()
f_temp = (9/5) * c_temp + 32      # 화씨온도: Fahrenheit
print(f'섭씨온도 {c_temp}도는 화씨온도 {f_temp}도 입니다.')
print('-'*30)

print('#화씨온도를 섭씨온도로 변환하는 프로그램입니다.')
f_temp = float(input('화씨온도를 입력하세요: ') ) # 정수로 변환: int()
c_temp = (5/9) * (f_temp - 32)      # 섭씨온도: Celsius
print(f'화씨온도 {f_temp}는 섭씨온도 {c_temp}도 입니다.')

#섭씨온도를 화씨온도로 변환하는 프로그램입니다.
섭씨온도를 입력하세요: 32
섭씨온도 32.0도는 화씨온도 89.6도 입니다.
------------------------------
#화씨온도를 섭씨온도로 변환하는 프로그램입니다.
화씨온도를 입력하세요: 23
화씨온도 23.0는 섭씨온도 -5.0도 입니다.

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [70]:
# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')
print('-'*30)
print(f"500원짜리 ==> {money//500}개")
money = money%500
print(f"100원짜리 ==> {money//100}개")
money = money%100
print(f"50원짜리 ==> {money//50}개")
money %= 50
print(f"10원짜리 ==> {money//10}개")
money = money%10
print(f"잔돈 ==> {money}원")

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 4312
동전으로 교환하겠습니다.---------
------------------------------
500원짜리 ==> 8개
100원짜리 ==> 3개
50원짜리 ==> 0개
10원짜리 ==> 1개
잔돈 ==> 2원

-----------------------------------------

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [74]:
a = list()  #빈리스트
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [76]:
print(a)
print(b)

[1, 2, ['a', 'b', ['사랑해', '파이썬']], 3]

NameError: ignored

### 리스트 삭제

In [75]:
del(b)

print(a)
print(b)

[1, 2, ['a', 'b', ['사랑해', '파이썬']], 3]

NameError: ignored

### 리스트 요소에 접근

In [91]:
a = ['red', 'blue', 'green', 'pink', ['purple', 'violet', 'yellow']]

print( a[1] )
print( a[2] )
print( a[1:4] )
# '파이썬'을 출력하려면?
print(a[4][1])
# violet, 'yellow을 출력하려면?
print(a[4][1:3])
print(a[4][1:])

print(a[4][0:1]) #0부터 끝까지
print(a[4][:]) # 처음부터 끝까지

print(a[2:1]) # 2부터 끝까지

#['purple', 'violet', 'yellow']을 출력하기

blue
green
['blue', 'green', 'pink']
violet
['violet', 'yellow']
['violet', 'yellow']
['purple']
['purple', 'violet', 'yellow']
[]

In [95]:
a = ['여름', '가을', '겨울']

print('1', a)
a.append('봄')     # 리스트 맨 끝에 추가
print('2', a)
a.insert(1, '봄')  # 리스트명.insert(인덱스위치, 값)
print('3', a)

1 ['여름', '가을', '겨울']
2 ['여름', '가을', '겨울', '봄']
3 ['여름', '봄', '가을', '겨울', '봄']

In [96]:
# 요소값을 변경하는 방법
a = ['여름', '가을', '겨울']
print(a)
a[0] = '한여름'
print(a)

['여름', '가을', '겨울']
['한여름', '가을', '겨울']

### 리스트 요소 삭제

In [97]:
a = ['여름', '가을', '겨울']
print(a)
a.pop()     # 리스트 맨 끝 요소 삭제
print(a)
a.remove('여름')  # 리스트명.remove(값), 단 여러 개 일 경우 첫 번째만 삭제됨
print(a)

['여름', '가을', '겨울']
['여름', '가을']
['가을']

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [ ]:
members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}
books = ['제목': '어린왕자', '저자': '생택쥐페리', '국적': '프랑스', '출판연도': 1934]
books = ['제목': '어린왕자', '상세': '생택쥐페리', '국적': '프랑스', '출판연도': '1934']

### 딕셔너리 키(key)와 값(value)에 접근하기

In [99]:
scores = {'국어': 100, '수학': 90, '영어': 80}

print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    print('%s => %s' % (key, scores[key]))ㅣ
    print(f'[key] => [secores[key]]')

# 방법2
print('---방법2---')
for key, value in scores.items():
    print('%s => %s' % (key, value))
    print(velocity)

100
---방법1---
국어 => 100
수학 => 90
영어 => 80
---방법2---
국어 => 100
수학 => 90
영어 => 80

In [ ]:
print(scores.keys())   # 키만 추출
print(scores.values()) # 키만 추출
print(scores.items())  # (키,값)쌍 형태로 추출

### 딕셔너리에 요소 추가/수정/삭제

In [100]:
scores = {'국어': 100, '수학': 90, '영어': 80}

# 키로 요소 추가하기
scores['music'] = 100
print(scores)

#요소 값 수정하기
sector['수학'] = 99
del (scores['영어'])
print(scdres)

{'국어': 100, '수학': 90, '영어': 80, 'music': 100}

NameError: ignored

------------------------

끝